.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-form-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
#job-s {
  width: 916px;
  height: 252px;
  border-radius: 30px;
  background-color: #f6f9fe;
}
#job-s-1 {
  width: 234px;
  height: 190px;
  border-radius: 12px;
  border: 1px;
  background-color: white;
}
.jobs-2 {
  background: #f6f9fe;
  width: 787px;
  height: 105px;
  border-radius: 30px;
  border-radius: 30px;
  padding: 1rem;
}
.job-s-container {
  display: flex;
  flex-direction: column;
}
.inputs-out {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.inputs input {
  width: 350px;
  height: 52px;
  border-radius: 8px;
  background: #f5f4f8;
}
.inputs label {
  width: 65%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}
.inputs textarea{
  width: 100%;
  margin-left: 10rem;
  resize: none;
  background-color: #f5f4f8;
}